@{
    ViewBag.Title = "About";
}
<div id="contents">
	<div>
		<div class="body" id="about">
			<div id="sidebar">
				<div class="body">
					<img src="~/images/laptop1.png" width="100%" height="100%" alt="Img">
					<div class="contact">
						<p>
							For Order and Inquiries Please Call: <b>035-861-9373</b> Or you can visit us at: <b>224 PHU LOI, PHU HOA<br>THU DAU MOT, BINH DUONG</b>
						</p>
					</div>
				</div>
			</div>
			<div id="main">
				<h1>About</h1>
				<h4>Car for rent service</h4>
				<p>
					Bạn muốn tự lái xe đến những bãi biển đẹp để thả mình trong làn nước biển xanh biếc hay đến những nơi yêu thích cùng gia đình, bạn bè, người thân trong mùa hè này.<br />Bạn muốn tự lái, chúng tôi có.<br />Bạn muốn có tài xế, chúng tôi rất tự tin về đội ngũ tài xế tận tâm sẽ mang đến cho bạn sự bình an trên mọi nẻo đường.
				</p>
				<h4>Pawn service</h4>
				<p>
					Dịch vụ cầm đồ Thành Chung xuất phát từ ý tưởng thay đổi định kiến về dịch vụ cầm đồ, khiến dịch vụ này trở nên an toàn và tiện lợi hơn cho mọi khách hàng. Khách hàng không còn phải đến các tiệm cầm đồ với tâm lý e ngại về lãi suất cao và tài sản không đảm bảo, thay vào đó, Thành Chung hứa hẹn mang đến sự phục vụ tốt nhất với mô hình hỗ trợ tài chính hợp pháp.
				</p>
				<h4>What makes us different?</h4>
				<p>
					Chuyên nghiệp<br> Đội ngũ nhân viên chuyên biệt của Dịch vụ cầm đồ Thành Chung luôn đảm bảo tính chuyên nghiệp trong quy trình làm việc và sự minh mạch khi phục vụ khách hàng.
				</p>
				<p>An toàn<br>Tài sản sẽ được đảm bảo an toàn tuyệt đối với tem niêm phong chuyên dụng và quy trình bảo quản chuyên nghiệp.</p>
				<p>Tiện lợi<br>Với quy trình làm việc tối đơn giản, bạn sẽ chỉ cần vài thao tác trên máy tính hoặc điện thoại là có thể nhận được tiền chỉ trong vòng 2 tiếng đồng hồ.</p>
			</div>
		</div>
	</div>
</div>
<script src="~/Content/css/jquery.min.js"></script>
<script>
	$("#aboutnav").attr("class", "selected");
</script>